<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>商品一覧</h2>
    </div>
    <div class="right-text">
      <%= link_to new_admin_item_path, class: "btn btn-default" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      <% end %>
    </div>
  </div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
      <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">商品ID</th>
              <th scope="col">商品名</th>
              <th scope="col">税抜価格</th>
              <th scope="col">ジャンル</th>
              <th scope="col">ステータス</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td>
                  <%= item.id %>
                </td>
                <td>
          				<%= link_to item.name, admin_item_path(item.id), :style=>"color:black;" %>
          			</td>
          			<td>
          				<%= link_to item.price, admin_item_path(item.id), :style=>"color:black;" %>
          			</td>
                <td>
                  <%= item.genre.name %>
                </td>
          			<td>
          			  <% if item.is_active==true %>
          			    <%= "販売中" %>
          			  <% else %>
          			    <%= "売り切れ" %>
          			  <% end %>
          			</td>
              </tr>
            <% end %>
          </tbody>
        </table>


		</div>
	</div>

	<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>