



<h2><%= @customer.last_name%> <%= @customer.first_name%>さんの会員情報編集</h2>

<%= form_with model: @customer, url: admin_customer_path(@customer.id),local: true do |form| %>

  <div>
    <span>会員ID</span>
    <%= @customer.id %>
  </div>

  <div>
    <span>氏名</span>
    <%= form.text_field :last_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <span>フリガナ</span>
    <%= form.text_field :last_name_kana %>
    <%= form.text_field :first_name_kana %>
  </div>

  <div>
    <span>郵便番号</span>
    <%= form.text_field :postal_code %>
  </div>

  <div>
    <span>住所</span>
    <%= form.text_field :address %>
  </div>

  <div>
    <span>電話番号</span>
    <%= form.text_field :telephone_number %>
  </div>

  <div>
    <span>メールアドレス</span>
    <%= form.text_field :email %>
  </div>

  <div>
    <span>会員ステータス</span>
    <%= form.radio_button :is_active, "有効" %>
    <%= form.label :is_active, "有効" %>
    <%= form.radio_button :is_active, "退会済" %>
    <%= form.label :is_active, "退会" %>
  </div>


  <%= form.submit '変更を保存', class: "btn btn-success" %>

<% end %>