<div class="container">
  <div class="row">
    <h2>ログイン</h2>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <p>会員の方はこちらからログイン</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <p>会員登録がお済みでない方</p>
      <span><%= link_to "こちら", new_customer_registration_path %>から新規登録を行なってください。</span>
    </div>
  </div>
</div>