<div class="container">
  <div class="row">
    <h2>注文情報確認</h2>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= attachment_image_tag cart_item.item, :image, format: 'jpg', class: "pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= ( cart_item.item.price * @tax ).round %>
              </td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td>
                <%= ( cart_item.item.price * @tax ).round * cart_item.amount %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <th>送料</th>
            <td><%= @shipping_cost %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= (@cart_items.map{ |cp| (cp.item.price*cp.amount * @tax).round }.sum) %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td><%= (@cart_items.map{ |cp| (cp.item.price*cp.amount * @tax).round }.sum + @shipping_cost) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <p><b>支払方法</b></p>
    </div>
      <span><%= @order.payment_method %></span>
  </div>
  <div class="row">
    <div class="col-md-2">
      <p><b>お届け先</b></p>
    </div>
      <span>
        〒<%= @order.postal_code %>
        <%= @order.address %><br>
        <%= @order.name %>
      </span>
  </div>



    <%= form_with model: @order, url: orders_path, local: true do |form| %>
      <%= form.hidden_field :customer_id, :value => current_customer.id %>
      <%= form.hidden_field :payment_method, :value => @order.payment_method %>
      <%= form.hidden_field :postal_code, :value => @order.postal_code %>
      <%= form.hidden_field :address, :value => @order.address %>
      <%= form.hidden_field :name, :value => @order.name %>
      <%= form.hidden_field :shipping_cost, :value => @shipping_cost %>
      <%= form.hidden_field :total_payment, :value => @cart_items.map{ |cp| (cp.item.price*cp.amount * @tax) }.sum.round + @shipping_cost %>

      <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= form.submit "注文を確定する", class: "btn btn-success"  %>
      </div>
      <div class="col-md-4"></div>
    <% end %>

</div>
